# Data Science - Cryptocurrencies

In [5]:
import pandas as pd
import pandas_datareader as reader
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [19]:
c = "-USD"
metric = "Close"
start = dt.datetime(2018, 1, 1)
end = dt.datetime.now()

In [20]:
crypto_list = ['BTC-USD', 'ETH-USD']

In [21]:
df = reader.get_data_yahoo(crypto_list,start,end)['Adj Close']

In [22]:
df

Symbols          BTC-USD      ETH-USD
Date
2018-01-01  13657.200195   772.640991
2018-01-02  14982.099609   884.443970
2018-01-03  15201.000000   962.719971
2018-01-04  15599.200195   980.921997
2018-01-05  17429.500000   997.719971
...                  ...          ...
2022-09-28  19426.720703  1337.410889
2022-09-29  19573.050781  1335.652344
2022-09-30  19431.789062  1327.978638
2022-10-01  19312.095703  1311.644409
2022-10-02  19266.634766  1305.570801

[1736 rows x 2 columns]